html {
    font-family: 'EB Garamond', serif;
    font-size: 16pt;
    font-weight: 400;
    max-width: 7in;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    counter-reset: section subsection;
}

body {
    margin: 0 0.25em;
    overflow-x: hidden;
}

h1 {
    font-size: 42pt;
    font-weight: 700;
}

h2:before {
    counter-increment: section;
    counter-reset: subsection;
    content: counter(section) '.';
    position: absolute;
    left: 0;
}

h2 {
    padding-left: 1.5em;
    position: relative;
}

h3:before {
    counter-increment: subsection;
    content: counter(section) '.' counter(subsection) '.';
    position: absolute;
    left: 0;
}

h3 {
    padding-left: 2.0em;
    position: relative;
}

a {
    text-decoration: none;
}


p {
    text-align: justify;
}

p.footer {
    border-top: 1pt solid;
    padding-top: 0.1em;
}

figure {
    margin: 0;
    text-align:center;
}

figure img {
    width: 100%;
}

