<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% if page.open_graph %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="{{site.url}}/{{page.open_graph.image}}" />
    <meta property="og:description" content="{{page.open_graph.description}}" />
    {% endif %}
    <title> {{page.title}} </title>
    <script>
        MathJax = {
          tex: {
            tags: 'ams',
            macros: {
              cov: ["\\mathrm{cov}\\!\\left[#1,\\,#2\\right]", 2],
              transp: "\\mathrm{T}",
              dd: "\\mathrm{d}",
              ee: "\\mathrm{e}",
              ii: "\\mathrm{i}",
              normal: ["N\\!\\left(#1,\\,#2\\right)", 2],
              normalpdf: ["N\\!\\left(#1\\,|\\,#2,\\,#3\\right)", 3],
              expectation: ["\\mathrm{E}_{#1}\\!\\left[#2\\right]", 2],
              kldiv: ["\\mathrm{D}\\!\\left(#1\\,||\\,#2\\right)", 2],
              trace: ["\\mathrm{Tr}\\!\\left[#1\\right]", 1],
              min: ["\\mathrm{min}\\left(#1\\,,#2\\right)", 2],
              real: ["\\mathrm{Re}\\!\\left[#1\\right]", 1],
              imag: ["\\mathrm{Im}\\!\\left[#1\\right]", 1],
            }
          }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
    {% if page.script %}
    <script defer src="{{ page.script }}"></script>
    {% endif %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700">
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    {{content}}
    <p class='footer'>Feedback welcome,
        <a href='https://github.com/allaisandrea/allaisandrea.github.io/issues/new'
           target='_blank'
        > open an issue.</a>
    </p>
  </body>
</html>
